<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{ .title }}" />
    <meta name="description" content="{{ .description }}" />
    <meta name="theme-color" content="{{ .color }}" />
    <meta property="og:title" content="{{ .title }}" />
    <meta property="og:description" content="{{ .description }}" />
    <meta property="og:image" content="{{ .image }}" />
    <title>{{ .title }}</title>
    <script>
      window.onload = () => window.location.replace('{{ .targetURL }}');
    </script>
  </head>

  <body>
    Redirect to <a href="{{ .targetURL }}">Here</a>
  </body>
</html>
